body {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 3px
}

#all_settings {
    background-color: #eee;
}
.settings {
    display: flex;
    flex-wrap: wrap;    
    flex-direction: column;
    align-items: flex-start;
}

.title2 {
    height: 24px;
    font-size: larger;
    color: darkviolet;
    font-family: monospace;
    border: 1px solid;
    padding: 2px;
    background: #dffc;
    display: inline-block;
    width: 100%;
}

#overallp {
    height: 24px;
    font-size: larger;
    color: darkcyan;
    font-family: monospace;
    border: 1px solid;
    padding: 2px;
    background: rgba(221, 241, 255, 0.8);
    display: inline-block;
}


#header {
    display: flex;
}

#tableandtitle {
    overflow-y: scroll;
    height: 100vh;
}

#column_headers {
    position: sticky;
    top: 0px;
    background: white;
}

input[type="number"] {
    max-width: 60px;
} 

#totperc_row {
    font-size: small;
}

td {
    text-align: right;
    font-variant: tabular-nums;
}
select {
    max-width: 100px;
}

.ch_container {

}
.ch_container2 {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    position: relative;
}
.ch_zero, .ch_line, .ch_bar {
    position: absolute;
    top: 0px;
    min-height: 16px;
}
.ch_zero, .ch_line {
    z-index: 2;
}
.ch_zero {
    width: 1px;
    background-color: black;
}

.ch_line {
    width: 2px;
    background-color: green;
}

.ch_pos {
    background-color: rgb(121, 121, 121);
}
.ch_pos_over {
    background-color: rgb(228, 182, 182);
}
.ch_pos_over_invisible {
    background-color: rgb(255, 236, 236);
}

.ch_neg {
    background-color: rgb(114, 112, 143);
}
.ch_neg_over {
    background-color: rgb(206, 210, 241);
}
.ch_neg_over_invisible {
    background-color: rgb(236, 236, 255);
}
.ch_missing {
    background-color: lightgray;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }
    #thetable {
        background-color: #333;
    }

    #all_settings {
        background-color: #333;
    }
    div {
        color: lightgray;
    }
    select {
        background-color: black;
        color:white;
    }
    input {
        filter: brightness(70%);
    }

    .title2 {
        color: rgb(207, 95, 255);
        background: rgba(9, 37, 37, 0.8);
    }

    #overallp {
        color: rgb(0, 238, 238);
        background: rgba(37, 40, 43, 0.8);
    }
    #mainarea.empty {
        background-color: black;
    }
    #column_headers {
        background: black
    }
}
